@page "/envelopespage"
@using PledgeFormApp.Shared
@inject HttpClient Http

<h1 class="page-title">Envelopes List</h1> 


@if (envelopesList == null)
{

}
else {
<h3>List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Pledger ID</th>
            <th>Number</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Envelope envelope in envelopesList)
        {
        <tr>
            <td>@envelope.PledgerId</td>
            <td>@envelope.EnvelopeNum</td>
            <td>@envelope.Year</td>
        </tr>
        }
    </tbody>
</table>
}

@code {

  private Envelope[] envelopesList;

  [Inject]
  Services.IEnvelopeDataService EnvelopeDataService { get; set; }

  protected override async Task OnInitializedAsync()
  {
      //pledgerList = await Http.GetFromJsonAsync<Pledger[]>("Pledgers");
      IEnumerable<Envelope> list = await EnvelopeDataService.GetAllEnvelopes();
      envelopesList = list.ToArray();
  }
}
